// Note: any .css or .scss files included in the 'styles' directory
// will be correctly compiled during `gulp` and `gulp production`

//* Vendors *//
@import url('https://fonts.googleapis.com/css?family=Baloo+Thambi+2:600&display=swap');

.header {
	margin-top: 20px;
}
.logo {
	float: left;
}
.site-name {
	font-size: 5rem;
	font-family: 'Baloo Thambi 2';
	color: #000;
	line-height: 100px;
	vertical-align: middle;
	float: left;
    margin-left: 20px;
}

.clear {
	clear: both;
}

.wrapper {
	max-width: 800px;
	margin: 0px auto;
}

.slack {
	position: relative;
    img {
    	height: 1.5rem;
    	padding-right: 0.5rem;
    	position: absolute;
    	left: .8rem;
    	top: 1rem;
    }
}

.github-fork-ribbon:before {
    background-color: #333;
}

/* Larger than mobile screen */
@media (min-width: 40.0rem) {  }

/* Larger than tablet screen */
@media (min-width: 80.0rem) {  }

/* Larger than desktop screen */
@media (min-width: 120.0rem) {  }