<p>Contact tracing is essential for containing any Pandemic. This open-source contact tracing solution uses Bluetooth to identify who you have been with & where you have been to help Governments easily trace an infected person's contact history.</p>


<p>Entire solution is open source and you can follow the development on <a href="https://github.com/Covid-Response-Group/">Github.com</a></p>


<h2>Mobile App</h2>
<ul>
	<li>Google Sign in</li>
	<li>Count of people contacted</li>
	<li><strong>Vulnerability score:</strong> Based on the number of infected people within 10 kms radius.</li>
</ul>

<h2>Dashboard</h2>

<ul>
	<li>Network graph representation for contact tracing</li>
	<li>Mark infected cases</li>
	<li>Push circulars and videos to the selected</li>
</ul>


<h3>Contact</h3>
<a href="https://covidresponseteamhq.slack.com" class="button button-outline slack"><img src="images/slack.webp" alt="slack">Slack</a>